# AssemblyScript
build

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# JetBrains
.idea

# JS / TS
bun.lockb
deno.lock
node_modules

# pre-commit
.pre-commit-config.yaml

# Stryker
.stryker-tmp
reports/
